.achievements {
	background: linear-gradient(90deg, rgba(50, 158, 214, 0.9), rgba(222, 60, 47, 0.9)), url('../images/pattern.png');
}

.achievements__column {
	width: 25%;
	float: left;
	text-align: center;

	h2 {
		@include openSansBold(3rem);
		margin: 10px 0 0 0;
	}

	h4 {
		font-family: $secondaryFont;
		font-weight: 200;
		font-size: 14px;
		color: $darkgrey;
		text-transform: uppercase;
		margin: 2% 0 10% 0;
	}

	img {
		max-width: 60px;
		margin: 10% 0 0 0;
	}
}

/* ----- Media Queries ---- */

@media (max-width: 980px) {
		.achievements__column {

		h2 {
			@include openSansBold(2rem);
		}
	}
}



@media (max-width: 767px) {
		.achievements__column {

		img {
			max-width: 40px;
			margin: 10% 0 0 0;
		}
	}
}

@media (max-width: 530px) {

		.achievements {
			background: -webkit-linear-gradient(rgba(50, 158, 214, 0.9), rgba(222, 60, 47, 0.9)), url('../images/pattern.png');
			background: -o-linear-gradient(rgba(50, 158, 214, 0.9), rgba(222, 60, 47, 0.9)), url('../images/pattern.png');
			background: linear-gradient(rgba(50, 158, 214, 0.9), rgba(222, 60, 47, 0.9)), url('../images/pattern.png');
		}

		.achievements__column {
		width: 100%;
		text-align: center;

		h2 {
			@include openSansBold(3rem);
		}

		img {
			max-width: 60px;
			margin: 10% 0 0 0;
		}
	}
}