.contribute {
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: 0;
}

.contribute__column {
	width: 33.3%;
	padding: 4% 2%;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 3rem;
		font-weight: 500;
		text-transform: capitalize;
	}

	p {
		font-family: $secondaryFont;
		font-size: 19px;
		font-weight: 300;
		text-align: center;
		width: 60%;
		line-height: 30px;
		margin-top: 0;
		opacity: 0.3;
	}

	img { /* horizontal line */
		margin: -25px 0 15px 0;
		opacity: 0.1;
	}
}

.contribute__column--blue {
	@include tintedBG('../images/teaserDonator.jpg', rgba(50, 77, 91, 0.9));
}

.contribute__column--purple {
	@include tintedBG('../images/teaserVolunteer.jpg', rgba(71, 65, 70, 0.9));
}

.contribute__column--red {
	@include tintedBG('../images/teaserAdopter.jpg', rgba(93, 53, 49, 0.9));
}

/*---- Media Queries ---- */

@media (max-width: 767px) {
	h2 {
		font-size: 25px;
	}

	p {
		font-size: 14px;
	}

	.contribute {
		display: flex;
		flex-direction: column;
	}

	.contribute__column {
		width: 100%;
	}
}